<div class="container">
  <div class='jumbotron'>
    <div class = "text-center">
<h1 id = "greeting"><img src="/check.png" alt="checklist" class="img-circle">Welcome to the Task Manager</h1></img>
<link href='css/bootstrap.css' rel='stylesheet'>
<div class ="container">
  <div class= "jumbotron">
  <u class = "container-fluid list-unstyled navbar-link ">
    <li><button type ="button" class = 'btn btn-info'><a href="/tasks">Task Index</button></a></li>
    <br>
    <li><button type ="button" class = 'btn btn-warning'><a href="/tasks/new">New Task</button></a> </li>
  </ul>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src='js/bootstrap.js'></script>
  </div>
</div>
