<form action="/tasks" method="post">
  <link href='css/bootstrap.css' rel='stylesheet'>
  <input type='text' name='task[title]'/><br/>
  <p>Enter a new task:</p>
  <textarea name='task[description]'></textarea><br/>
  <input type='submit'/>
</form>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src='js/bootstrap.js'></script>
