<head>
<link href='css/bootstrap.css' rel='stylesheet'>
</head>
<a href="/tasks">Task Index</a>
<h1><%= @task.title %></h1>
<p><%= @task.description %></p>
<body>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src='js/bootstrap.js'></script>
</bod>
