<!DOCTYPE html>
<html lang="en">
<h1 class="bg-primary"><img src="/check.png" alt="checklist" class="img-circle">Task Manager</h1></img>
<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/application.css">
  <title>My Sinatra Application</title>
</head>
<body>
  <div class="jumbotron text-center">
    <button type ="button" class = 'btn btn-info'><a href="/tasks">Task Index</button></a>

    <h1 class= "text-center"><%= @task.title %></h1>

    <p class = "text-center"><%= @task.description %></p>
  </div>
</body>
</html>
